# Credit Card Fault Detection By using Logistic Regression

In [1]:
# Import Required Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Data Collection & Data Analysis

credit_card_data = pd.read_csv("creditcard.csv")

In [3]:
# To check first five records
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# To check shape of data

credit_card_data.shape

(284807, 31)

In [5]:
# To check missing value
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
# To check Datatype

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
# To check in class how many paraameter is present

credit_card_data['Class'].unique()

array([0, 1], dtype=int64)

In [8]:
# To check Valid data or fraud data counts

# 0 represent Valid Transaction
# 1 represent Fraudulent Transaction

credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
# This dataset highly unalnaced that why this data not send to ML alogorithms so again analysis data

In [10]:
# Separating the data for analysis

valid = credit_card_data[credit_card_data['Class']==0]

In [11]:
fraud = credit_card_data[credit_card_data['Class']==1]

In [12]:
# To check shape of data

print(valid.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [13]:
# To check Statistical data for valid transcation

valid['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
# To check Statistical data for fraud transcation

fraud['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [16]:
#UnderSampling Method:- 
#Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions
# No. of Fraudulent Transaction present is 492 so consider Valid transcation also 492 for similier distrubution

In [17]:
valid_sample = valid.sample(n=492)

In [18]:
# Concatening Dataset( Join Two dataset)

final_data = pd.concat([valid_sample , fraud], axis= 0)

In [19]:
final_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
107782,70617.0,0.988362,-1.052426,-0.000363,-0.403608,-1.152150,-1.057656,0.014863,-0.382722,-1.058232,...,-0.248820,-0.687822,-0.153115,0.443916,0.217429,1.015420,-0.102183,0.043635,224.00,0
51941,45202.0,-1.500506,-0.564856,1.051168,0.248662,-0.744085,1.249198,1.770116,0.310528,-0.436833,...,0.182393,0.003597,0.935087,-0.310187,-0.022017,0.268366,0.191307,0.190354,433.62,0
204914,135499.0,2.210017,-1.636144,-1.032963,-1.575280,-1.273889,-0.385047,-1.221281,-0.089451,-0.933635,...,-0.163414,-0.148809,0.216824,0.426419,-0.248222,-0.197360,-0.001199,-0.035223,70.00,0
73775,55273.0,1.119963,0.546055,0.877856,2.415833,-0.282554,-0.336366,0.018747,0.042135,-0.982280,...,-0.183696,-0.662870,0.156578,0.471700,0.182968,-0.295540,-0.012185,0.020821,7.08,0
65570,51647.0,1.381565,-0.400870,0.718851,-0.590967,-1.253026,-1.231586,-0.514538,-0.236794,-0.848732,...,-0.069278,-0.308903,0.170349,0.694246,0.196911,-0.502507,0.012611,0.026860,9.99,0

In [20]:
# to check Shape of final data

final_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [21]:
final_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94468.197154,0.027098,-0.038052,0.082886,-0.010148,-0.073615,-0.102227,0.045720,0.116437,-0.025698,...,0.005873,-0.009428,-0.022338,0.015423,0.04668,-0.015764,0.023127,0.004793,0.001247,93.214309
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [22]:
#Splitting the data into Features & Targets

X= final_data.drop(['Class', 'Time'] , axis=True)
y = final_data["Class"]

In [23]:
X.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
107782,0.988362,-1.052426,-0.000363,-0.403608,-1.152150,-1.057656,0.014863,-0.382722,-1.058232,0.579213,...,0.003115,-0.248820,-0.687822,-0.153115,0.443916,0.217429,1.015420,-0.102183,0.043635,224.00
51941,-1.500506,-0.564856,1.051168,0.248662,-0.744085,1.249198,1.770116,0.310528,-0.436833,-0.755084,...,0.994921,0.182393,0.003597,0.935087,-0.310187,-0.022017,0.268366,0.191307,0.190354,433.62
204914,2.210017,-1.636144,-1.032963,-1.575280,-1.273889,-0.385047,-1.221281,-0.089451,-0.933635,1.560067,...,-0.356583,-0.163414,-0.148809,0.216824,0.426419,-0.248222,-0.197360,-0.001199,-0.035223,70.00
73775,1.119963,0.546055,0.877856,2.415833,-0.282554,-0.336366,0.018747,0.042135,-0.982280,0.843286,...,-0.152143,-0.183696,-0.662870,0.156578,0.471700,0.182968,-0.295540,-0.012185,0.020821,7.08
65570,1.381565,-0.400870,0.718851,-0.590967,-1.253026,-1.231586,-0.514538,-0.236794,-0.848732,0.599477,...,0.081042,-0.069278,-0.308903,0.170349,0.694246,0.196911,-0.502507,0.012611,0.026860,9.99

In [24]:
y.head()

107782    0
51941     0
204914    0
73775     0
65570     0
Name: Class, dtype: int64

# Training & Test data

In [25]:
# import required libraries for training & testing

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.15 , random_state=5)

In [27]:
# To check shape of data
print(X.shape , X_train.shape, X_test.shape)

(984, 29) (836, 29) (148, 29)

In [28]:
# Model Training:- Logistic regression

model = LogisticRegression()
model

LogisticRegression()

In [29]:
# Train Model with traing Data

model.fit(X_train, y_train)

LogisticRegression()

# Model Evalution

In [30]:
# Accuracy on Training dataset

X_train_prediction = model.predict(X_train)
trainining_data_accuracy = accuracy_score(X_train_prediction , y_train)

In [31]:
print("Accuracy on training data is" , trainining_data_accuracy)

Accuracy on training data is 0.9557416267942583

In [32]:
# Accuracy on testing dataset

X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction,y_test)

In [33]:
print("Accuracy on testing data is" , testing_data_accuracy)

Accuracy on testing data is 0.9662162162162162

# Predictive Building model

In [34]:
input_data =(-1.359807134,-0.072781173,2.536346738,1.378155224,-0.33832077,
             0.462387778,0.239598554,0.098697901,0.36378697,0.090794172,-0.551599533,
             -0.617800856,-0.991389847,-0.311169354,1.468176972,-0.470400525,
             0.207971242,0.02579058,0.40399296,0.251412098,-0.018306778,0.277837576,
             -0.11047391,0.066928075,0.128539358,-0.189114844,0.133558377,-0.021053053,149.62)

# data covert into np array

input_data_np_array = np.asarray(input_data)

#reshape the np array

input_data_reshape = input_data_np_array.reshape(1,-1)

predication = model.predict(input_data_reshape)
predication

if predication[0]==0:
    print("This is valid Trasaction")
else:
    print("This is Fraudulent Transaction")

This is valid Trasaction

In [35]:
# here only amount value change 


input_data =(-1.359807134,-0.072781173,2.536346738,1.378155224,-0.33832077,
             0.462387778,0.239598554,0.098697901,0.36378697,0.090794172,-0.551599533,
             -0.617800856,-0.991389847,-0.311169354,1.468176972,-0.470400525,
             0.207971242,0.02579058,0.40399296,0.251412098,-0.018306778,0.277837576,
             -0.11047391,0.066928075,0.128539358,-0.189114844,0.133558377,-0.021053053,40000)

# data covert into np array

input_data_np_array = np.asarray(input_data)

#reshape the np array

input_data_reshape = input_data_np_array.reshape(1,-1)

predication = model.predict(input_data_reshape)
predication

if predication[0]==0:
    print("This is valid Trasaction")
else:
    print("This is Fraudulent Transaction")

This is valid Trasaction